@model List<CategoryDTO>
@using FoodRecipe.Models.DTOs
@using Microsoft.AspNetCore.Identity;

@inject SignInManager<ApplicationUser> signInManager

@section Styles {
    <style>
        /* Set background color to black */
        body {
            background-image: url(https://images.rawpixel.com/image_600/cHJpdmF0ZS9sci9pbWFnZXMvd2Vic2l0ZS8yMDIzLTExL3Jhd3BpeGVsb2ZmaWNlMTBfZGl2ZXJzaXR5X2Nob2NvbGF0ZV9iYWNrZ3JvdW5kX19oaW50X29mX3ByZWNpc185Y2ZiMjBiZS04MDNlLTRmNWItODlmZi1mY2RlZGMzN2I1NTZfMS5qcGc.jpg);
            color: white; /* Change text color if necessary */
           
        }

        /* Adjust positioning of category content below the navbar */
        #category-section {
            padding-top: 150px; /* Adjust as needed to position content below the navbar */
        }

        /* Additional styles for category content */
        /* Add your custom styles here */
    </style>
}

<div id="category-section">
    <div class="container">
        <h1>Categories</h1>
        <div>
             @if(User.IsInRole("Administrator"))
                        {
            <p>
                <a asp-action="Create">Create New</a>
            </p>}
        </div>
        @foreach (var category in Model)
        {
            <div class="menu_2 clearfix">
                <div class="col-sm-6 space_all">
                    <img src="@category.ImgUrl" width="100%" height="600px">
                </div>
                <div class="col-sm-6 space_all">
                    <div class="menu_2_right clearfix">
                        <a asp-action="Details" asp-route-id="@category.CategoryID" class="tag_menu" style="color:wheat">  <h1>@category.Name</h1></a>
<br/>
                        <a asp-action="Details" asp-route-id="@category.CategoryID" style="font-size:20px; padding-top:15px;padding:15px ; color:burlywood">Details</a>
                        @if(User.IsInRole("Administrator"))
                        {
                            <a asp-action="Edit" asp-route-id="@category.CategoryID" style="font-size:20px; padding-top:15px;padding:15px ; color:burlywood">Edit</a>
                            <a asp-action="Delete" asp-route-id="@category.CategoryID" style="font-size:20px; padding-top:15px;padding:15px ; color:red">Delete</a>
                        }
                    </div>
                </div>
            </div>
        }
    </div>
</div>
